<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.giovanni.sportapp.sportapp">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    /// só aparecer para celulares com camera.
    <uses-feature
        android:name="android.hardware.camera2"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activitys.LoginActivity">
            <intent-filter>
                <action
                    android:name="android.intent.action.MAIN"
                    android:windowSoftInputMode="stateHidden" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activitys.CadastroUsuarioActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Activitys.RecuperarSenhaActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".Activitys.MainActivity" />
        <activity
            android:name=".Activitys.ConfiguracoesActivity"
            android:parentActivityName=".Activitys.MainActivity"
            android:windowSoftInputMode="stateHidden"></activity>
        <activity
            android:name=".Activitys.PerfilActivity"
            android:label="@string/title_activity_perfil"
            android:parentActivityName=".Activitys.MainActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.giovanni.sportapp.sportapp.Activitys.MainActivity" />
        </activity>
        <activity
            android:name=".Activitys.MensagemActivity"
            android:label="@string/title_activity_conversa"
            android:parentActivityName=".Activitys.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.giovanni.sportapp.sportapp.Activitys.MainActivity" />
        </activity>

        <service
            android:name=".ServicoNotificacao.ServicoDeMensagemDoFirebase">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>


        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/Id_canal_de_notificacao"/>

    </application>

</manifest>